$gameFont: "Lato"
$inactiveBorderColor: #e7e7ea
$highlightColor: #21c3a8
$highlightFontColor: #fff
$abortColor: #e390c3
$activeGameBackground: #8a85bd
$activeGameBorder: #746fa7
$headlineColor: #6c6c73
$gameBackground: #ececee
$player1Color: #3a3b63
$player2Color: #73dce6
$endOfGameColor: #a6a6ae

#board
  background: $gameBackground
  width:  100%
  display: flex
  flex-wrap: wrap
  position: relative

#game
  background: #f8f8f8
  width: 470px
  -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.5)
  -moz-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.5)
  box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.5)
  margin: 0 auto
  position: relative

#boardContainer
  width: 320px
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 0 auto
  margin-top: 20px
  margin-bottom: 20px

#statusBar
  height: 70px
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

#startButton
  background: $highlightColor
  color: $highlightFontColor
  width: 200px
  border-radius: 20px
  height: 45px
  display: flex
  justify-content: center
  align-items: center
  font-family: $gameFont
  font-size: 1.5em
  border: 0

#resetGameButton, #showGameButton
  @extend #startButton
  width: auto
  margin-left: 10px
  margin-right: 10px
  padding-left: 15px
  padding-right: 15px

#abort
  position: absolute
  right: 10px
  top: 20px
  color: $abortColor
  text-decoration: underline
  font-family: $gameFont

h1
  font-family: $gameFont
  font-size: 2em
  color: $headlineColor
  font-weight: normal
  display: flex
  justify-content: center
  align-items: center
  padding-top: 10px
  margin-bottom: 10px

.square
  width: 100px
  height: 100px
  display: flex
  justify-content: center
  align-items: center
  border: 4px solid $inactiveBorderColor

.activeGame .square:hover
    cursor: pointer

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3)
  border-top: 0

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9)
  border-bottom: 0

.square:nth-child(3n+1)
  border-left: 0

.square:nth-child(3n)
  border-right: 0


#board.activeGame
  background: $activeGameBackground
  .square
    border-color: $activeGameBorder

.hidden
  display: none !important

.player1Symbol
  color: $player1Color
  font-size: 5em
  font-family: $gameFont

.player2Symbol
  font-family: $gameFont
  color: $player2Color
  font-size: 5em

#nextMove
  font-size: 1.5em
  font-family: $gameFont
  color: $headlineColor
  display: flex
  justify-content: center
  align-items: center
  .player1Symbol, .player2Symbol
    font-size: 1.5em
    display: flex

#endOfGameScreen
  position: absolute
  background: $gameBackground
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .player1Symbol, .player2Symbol
    font-size: 10em
  #subline
    color: $endOfGameColor
    display: flex
    font-size: 1.5em
    font-family: $gameFont
    font-weight: lighter

#nextGame
  display: flex